<div class="table-responsive">
    <table cellpadding="0" cellspacing="0" border="0" class="table table-condensed" id="tableTotalItems">
        <thead>
        <tr>
            <th>Category</th>
            <th>Total weight (g)</th>
            <th>Total energy (kcal)</th>
            <th>Average kcal/100g</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Breakfast</td>
            <td id="breakfastTotalWeight"></td>
            <td id="breakfastTotalEnergy"></td>
            <td id="breakfastAverageEnergy100g"></td>
        </tr>
        <tr>
            <td>Lunch</td>
            <td id="lunchTotalWeight"></td>
            <td id="lunchTotalEnergy"></td>
            <td id="lunchAverageEnergy100g"></td>
        </tr>
        <tr>
            <td>Diner</td>
            <td id="dinerTotalWeight"></td>
            <td id="dinerTotalEnergy"></td>
            <td id="dinerAverageEnergy100g"></td>
        </tr>
        <tr>
            <td>Snack</td>
            <td id="snackTotalWeight"></td>
            <td id="snackTotalEnergy"></td>
            <td id="snackAverageEnergy100g"></td>
        </tr>
        <tr>
            <td>All</td>
            <td id="allTotalWeight"></td>
            <td id="allTotalEnergy"></td>
            <td id="allAverageEnergy100g"></td>
        </tr>
        </tbody>
    </table>
</div>