<div class="row">
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="display: none">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                class="sr-only">Close</span></button>
        <span class="alertContent"></span>
    </div>

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Bag o Food</h1>

        <p>Login or Register with:</p>

        <a id="login" href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a id="signUp" href="/signUp" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>
</div>