<div id="modalItemForm"></div>

<div class="row">
    <div class="panel panel-default">

        <div class="panel-heading clearfix">
            <div class="btn-group pull-left" data-toggle="buttons-radio">
                <button id="descriptionItems" type="button" class="btn btn-default">Description</button>
                <button id="statisticsItems" type="button" class="btn btn-default active">Statistics (table)</button>
                <button id="statisticsChartItems" type="button" class="btn btn-default">Statistics (chart)</button>
            </div>
        </div>
        <!-- /.panel-heading -->
        <div id="generalItem" class="panel-body">

            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
</div>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">List of items</h4>
            <button id="createItem" class="btn btn-default pull-right" data-toggle="modal" data-target="#newItemModal">
                Add a new item
            </button>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">
                <table cellpadding="0" cellspacing="0" border="0" class="table table-condensed" id="tableItems">
                    <thead>
                    <tr>
                        <th column="name" class="sortable">Name</th>
                        <th column="category" class="sortable">Category</th>
                        <th column="energy_100g" class="sortable">Kcal/100g</th>
                        <th column="weight" class="sortable">Weight (g)</th>
                        <th column="energy" class="sortable">Energy (kcal)</th>
                        <th column="openFoodFact">OpenFoodFact</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
</div>