<form class="form-horizontal" role="form">

    <!--Product-->
    <div class="form-group">
        <label for="inputProduct" class="col-sm-2 control-label">Product</label>

        <div class="col-sm-8">
            <input name="name" type="text" class="form-control" id="inputSearchProduct" placeholder="Product name">
        </div>

        <div class="col-sm-2">
            <button type="button" class="btn btn-default" id="searchProduct">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
        </div>
    </div>

    <!--Product result-->
    <div class="form-group">

        <div class="col-sm-offset-2 col-sm-10">

            <div class="alert alert-success" role="alert" id="alertResultProducts"></div>

            <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-condensed table-hover"
                   id="tableProducts">
                <thead>
                <tr>
                    <th>Product name</th>
                    <th>Kcal/100g</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <!--Name-->
    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Name</label>

        <div class="col-sm-10">
            <input name="name" type="text" class="form-control" id="inputName" placeholder="Name" value="" readonly>
        </div>
    </div>

    <!--Energy/100g-->
    <div class="form-group">
        <label for="inputEnergy_100g" class="col-sm-2 control-label">Kcal/100g</label>

        <div class="col-sm-10">
            <input name="energy_100g" type="number" class="form-control" id="inputEnergy_100g" placeholder="Kcal/100g"
                   value="" readonly>
        </div>
    </div>

    <!--Weight-->
    <div class="form-group">
        <label for="inputWeight" class="col-sm-2 control-label">Weight</label>

        <div class="col-sm-10">
            <input name="weight" type="number" class="form-control" id="inputWeight" placeholder="Weight" value="">
        </div>
    </div>

    <!--Category-->
    <div class="form-group">
        <label for="inputCategory" class="col-sm-2 control-label">Category</label>

        <div class="col-sm-10">
            <select id="inputCategory" class="form-control">
                <option value="1">BREAKFAST</option>
                <option value="2">LUNCH</option>
                <option value="3">DINER</option>
                <option value="4">SNACK</option>
            </select>
        </div>
    </div>


</form>