<p>
    <button id="createList" class="btn btn-primary" type="button" data-toggle="modal" data-target="#newListModal">New
        List
    </button>
</p>

<div id="modalListForm"></div>

<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered" id="tableLists">
    <thead>
    <tr>
        <th column="name" class="sortable">Name</th>
        <th column="author" class="sortable">Author</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>