#tableProducts tbody {
    cursor: pointer;
}

.editCategory {
    float: right;
    cursor: pointer;
}

/* Header sortable */
#tableItems th {
    cursor: pointer;
}

/*No underline on link*/
a {
    cursor: pointer;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/*Modal scollable*/
.modal .modal-body {
    max-height: 400px;
    overflow-y: auto;
}

/* Buttons in nav bar right top */
.navbar-right > a.btn{
    margin-left: 6px;
}
/* Buttons in panel heading */
#descriptionItems, #statisticsItems, #statisticsChartItems{
    margin-left: 6px;
}