#tableProducts tbody {
    cursor: pointer;
}

.editCategory {
    float: right;
    cursor: pointer;
}

/* Header sortable */
#tableItems th {
    cursor: pointer;
}

/*No underline on link*/
a {
    cursor: pointer;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/*Modal width*/
.modal .modal-dialog {
    width: 80%;
}

/*Modal scollable*/
.modal .modal-body {
    max-height: 80%;
    overflow-y: auto;
}

/* Buttons in nav bar right top */
.navbar-right > a.btn {
    margin-left: 6px;
}

/* Buttons in panel heading */
#descriptionItems, #statisticsItems, #statisticsChartItems, #statisticsChartPieItems {
    margin-left: 6px;
}

#messageSearchProducts{
    margin-top: 25px;
}