<div class="page-header text-center">
    <h1><span class="fa fa-anchor"></span> Profile Page</h1>
</div>

<div class="row">

    <!-- LOCAL INFORMATION -->
    <div class="col-sm-6">
        <div class="well">
            <h3><span class="fa fa-user"></span> Local</h3>

            <p>
                <strong>id</strong>{{model.user._id}}<br>
                <strong>email</strong>{{model.user.local.email}}<br>
                <strong>password</strong>{{model.user.local.password}}
            </p>

        </div>
    </div>

</div>