<form id="searchProductForm" class="form-horizontal" role="form">

    <div class="modal-body">

        <!--Product-->
        <div class="form-group">
            <label for="inputProduct" class="col-sm-2 control-label">Product</label>

            <div class="col-sm-7">
                <input type="text" class="form-control" id="inputSearchProduct" placeholder="Product name">
            </div>

            <div class="col-sm-2">
                <button type="button" class="btn btn-default" id="searchProduct">
                    <span class="glyphicon glyphicon-search"></span> Search
                </button>
            </div>
        </div>

        <!--Product result-->
        <div class="form-group">

            <div class="col-sm-offset-2 col-sm-10">

                <!--Message items found-->
                <span id ="messageSearchProducts" class="pull-right hidden"></span>

                <!--Pagination-->
                <ul class="pagination hidden">
                </ul>

                <table cellpadding="0" cellspacing="0" border="0"
                       class="table table-bordered table-condensed table-hover hidden"
                       id="tableProducts">
                    <thead>
                    <tr>
                        <th>Product name</th>
                        <th>Kcal/100g</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</form>